---
layout: default
---
<section class="hero is-small">
    <div id="main-banner" class="hero-body">
        <div class="container" style="width: 60vw;">
            <div class="columns is-vcentered">
                <div class="column is-offset-1 is-one-fifth">
                    <figure class="image is-128x128">
                        <img class="is-rounded has-shadow" src="/assets/img/portrait.jpg">
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-4 has-text-white">Cristofer Canosa Dominguez</h1>
                    <p class="subtitle is-6 has-text-white">Desarrollador Java, Kotlin actualmente trabajando en
                        Coremain. </p>
                    <a class="button is-small is-danger" target="_blank"
                        href="/assets/CRISTOFER CANOSA DOMINGUEZ - cv.pdf">
                        <span>CV</span>
                        <span class="icon is-small">
                            <i class="fas fa-file-download"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section container">
    {% include timeline.html %}
</section>
<section class="section container">
    <div class="columns">
        <div class="column">
            {% include project-list.html %}
        </div>
        <div class="column is-narrow">
            {% include contact.html %}
        </div>
    </div>
</section>