---
layout: default
---
<section class="hero is-medium">
    <div id="main-banner" class="hero-body">
        <div class="container" style="width: 60vw;">
            <div class="columns is-vcentered">
                <div class="column is-offset-1 is-one-fifth">
                    <figure class="image is-1by1">
                        <img class="is-rounded has-shadow" src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-4 has-text-white">Cristofer Canosa Dominguez</h1>
                    <p class="has-text-white">Desarrollador</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section container">
    {% include timeline.html %}
</section>
<section class="section container">
    <div class="columns">
        <div class="column">
            {% include project-list.html %}
        </div>
        <div class="column is-narrow">
            {% include contact.html %}
        </div>
    </div>
</section>