<h1 class="title is-4">Contacto</h1>
<hr />
<ul id="list-contacto">
    <li>
        <span class="icon">
            <i class="fas fa-map-marker-alt"></i>
        </span>
        <span class="label-contacto">{{site.data.contact-info.location}}</span>
    </li>
    <li>
        <span class="icon">
            <i class="fas fa-mobile-alt"></i>
        </span>
        <span class="label-contacto">{{site.data.contact-info.phone}}</span>
    </li>
    <li>
        <span class="icon">
            <i class="far fa-envelope"></i>
        </span>
        <span class="label-contacto">{{site.data.contact-info.mail}}</span>
    </li>
    <li>
        <span class="icon">
            <i class="fab fa-github"></i>
        </span>
        <span class="label-contacto">
            <a target="_blank" href="{{site.data.contact-info.github}}">
                Github
            </a>
        </span>
    </li>
    <li>
        <span class="icon">
            <i class="fab fa-linkedin"></i>
        </span>
        <span class="label-contacto">
            <a target="_blank" href="{{site.data.contact-info.linkedin}}">
                LinkedIn
            </a>
        </span>
    </li>
</ul>