<h1 class="title is-4">Proyectos</h1>
<hr />
<div class="columns">
    {% for project in site.projects %}
    <div class="column is-one-quarter">
        <a href="{{project.url}}">
            <div class="card show-item">
                <div class="show-card">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="{{project.banner_img}}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <h1>{{project.name}}</h1>
                    </div>
                    <div class="card-footer tags">
                        {% for tag in project.tags %}
                        <div class="card-footer-item tag">{{tag}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>