<div class="timeline-item" date-is="Julio 2022 - Actualidad">
    <h1 class="title is-5">Analista programador Java | Inerza</h1>
    <p>
        Desarrollo de una plataforma web de tramitación electrónica para el Gobierno de Canarias.
    </p>
    <p>
        Gestión de documentos y firmas electrónicas, con flujos de trabajo variados, configurables y automatizables, para adaptarse a distintos servicios y consejerías de Gobierno.
    </p>
    <ul>
        
        <li>- Stack principal: Java, Spring MVC, JSP, Hibernate.</li>
        <li>- Alto volumen de tareas en segundo plano coordinadas mediante Quartz o con un framework propio.</li>
        <li>- Múltiples conexiones con otros servicios SOAP mediante Apache Camel y CXF. Conexión con colas JMS y otros servicios REST.</li>
        <li>- Configuración y despliegue de un clúster de Kubernetes sobre bare metal como sucesor a la implementación anterior en Docker Swarm.</li>
        <li>- Diseño e implementación de pipeline GitOps (Gitlab + Jenkins + ArgoCD) y sistema de observabilidad (OpenTelemetry, Grafana, Tempo, Prometheus)</li>
    </ul>
</div>
<div class="timeline-item" date-is='Agosto 2018 - Julio 2022'>
    <h1 class="title is-5">Desarrollador Java | Coremain</h1>
    <p>
        Mantenimiento y desarrollo de nuevas funcionalidades de una aplicación de gestión para la consejería de educación con un componente web público y un cliente de escritorio de gestión interna.
    </p>
    <p>
        Gestión de personal, presentación y baremación de solicitudes en múltiples convocatorias. Generación de informes y documentos oficiales.
    </p>
    <ul>
        <li>- Web JSF/Icefaces, backend Spring.</li>
        <li>- Web Angular, backend Spring REST.</li>
        <li>- Cliente Java Web Start, Swing, JavaFX, backend Spring remote invoker.</li>
        <li>- Capa de persistencia Hibernate, Oracle.</li>
    </ul>
    <p>
        Funciones realizadas: Corrección de errores, diseño y desarrollo de nuevas funcionalidades, gestión de
        despliegues, desarrollo de herramientas internas y formación de nuevas incorporaciones.
    </p>
</div>
<div class="timeline-item" date-is='Julio 2017 - Septiembre 2017'>
    <h1 class="title is-5">Desarrollador web - Becario | Balidea</h1>
    <p>
        Desarrollador web utilizando frameworks Spring y Struts. Trabajo en prácticas como parte del Grado de Ingeniería
        Informática de la USC.
    </p>
</div>
<div class="timeline-item" date-is='Septiembre 2014 - Septiembre 2018'>
    <h1 class="title is-5">Grado en Ingenieria Informática | USC</h1>
</div>