<div class="timeline-item" date-is='Agosto 2018 - Actualidad'>
    <h1 class="title is-5">Desarrollador Java | Coremain</h1>
    <p>
        Mantenimiento y desarrollo de nuevas funcionalidades de una aplicación de gestión con cliente web y de
        escritorio.
    </p>
    <ul>
        <li>- Web JSF/Icefaces, backend Spring.</li>
        <li>- Web Angular, backend Spring REST.</li>
        <li>- Cliente Java Web Start, Swing, JavaFX, backend Spring remote invoker.</li>
        <li>- Capa de persistencia Hibernate, Oracle.</li>
    </ul>
    <p>
        Funciones realizadas: Corrección de errores, diseño y desarrollo de nuevas funcionalidades, gestión de
        despliegues, desarrollo de herramientas internas y formación de nuevas incorporaciones.
    </p>
</div>
<div class="timeline-item" date-is='Julio 2017 - Septiembre 2017'>
    <h1 class="title is-5">Desarrollador web - Becario | Balidea</h1>
    <p>
        Desarrollador web utilizando frameworks Spring y Struts. Trabajo en prácticas como parte del Grado de Ingeniería
        Informática de la USC.
    </p>
</div>
<div class="timeline-item" date-is='Septiembre 2014 - Septiembre 2018'>
    <h1 class="title is-5">Grado en Ingenieria Informática | USC</h1>
</div>