<div class="timeline-item" date-is='Agosto 2018 - Actualidad'>
    <h1 class="title is-5">Desarrollador Java | Coremain</h1>
    <p>
        Desarrollo de una aplicación de gestión con cliente web y de escritorio. Parte web en JSF con Icefaces / Primefaces para la interfaz. Cliente pesado en Swing/JavaFX desplegado mediante Web Start. Capa de servidor con Hibernate, Spring, JBoss y Oracle DB.
    </p>
</div>
<div class="timeline-item" date-is='Julio 2017 - Septiembre 2017'>
    <h1 class="title is-5">Desarrollador web - Becario | Balidea</h1>
    <p>
        Desarrollador web utilizando frameworks Spring y Struts. Trabajo en prácticas como parte del Grado de Ingeniería Informática de la USC.
    </p>
</div>
<div class="timeline-item" date-is='Septiembre 2014 - Septiembre 2018'>
    <h1 class="title is-5">Grado en Ingenieria Informática | USC</h1>
</div>